section.about#about
	h2 About Me
	div
		p.
			<span>My name is Curtis and I like to create things...</span> 
			<br>
			<br>
			As an artist at heart, I studied Printmaking and Graphic Design while attending Rhode Island College. I graduated with a Bachelors in Arts - Printmaking. My current work is focused on illustration &amp; concept-art. I've also been pursing web-design and developement.
			<br>
			<br>
			Printmaking is an area of art where the Artist can use various techniques that allows them to make prints of their work. One of these techniques is called 'Woodcut', which is what I specialized in. To produce a print via Woodcut, a physical block must be carved first. The block acts as a negative of the image, since what is carved away appears as the white(negative) space. When the block is ready to be printed, it is rolled with ink and then printed on a thin sheet of paper. Since fine details will usually be lost during the printing phase, this type of art forced me to think more in a minimalistic way.
		
		img(src="../assets/img/avatar.jpg")