section.contact#contact
	.contactContainer
		h2 Contact Me
		.contactInfo
			form(action="//formspree.io/csicartist@gmail.com" method="POST")
				.labelNames
					label.split: span Your Name
						input(type="text", name="name")
					label.split: span Your Email
						input(type="email", name="_replyto")
				.textMessage
					label: span Send me a message!
						textarea(name="message")
				.sendWrap
					input#sendButton(type="submit" value="Send")