include mixins

mixin thumb
	a(href="https://www.fillmurray.com/980/500"): img(src="https://www.fillmurray.com/80/80")

section.gallery#gallery
	h2 Gallery
	.container
		div(rel="traditional" style="background-image: url(../../assets/img/traditional/CrazyGracy.jpg")
			span Traditional
		div(rel="illustration" style="background-image: url(../../assets/img/digital/greatValley.jpg")
			span Digital
		div(rel="concept" style="background-image: url(../../assets/img/concept/dreadnaught.jpg)")
			span Concept
		div(rel="design" style="background-image: url(http://fillmurray.com/130/80)")
			span Design

	.fotorama#traditional(data-nav="thumbs" data-loop="true" data-width="100%" data-ratio="800/600" data-maxheight="700" data-fit="scaledown")
		a(href="../../assets/img/traditional/Cabin.jpg"): img(src="../../assets/img/traditional/cabin_thumb.jpg")
		a(href="../../assets/img/traditional/BrokenFence.jpg"): img(src="../../assets/img/traditional/BrokenFence_thumb.jpg")
		a(href="../../assets/img/traditional/Danger.jpg"): img(src="../../assets/img/traditional/Danger_thumb.jpg")
		a(href="../../assets/img/traditional/Forsaken.jpg"): img(src="../../assets/img/traditional/Forsaken_thumb.jpg")
		

	.fotorama#illustration(data-nav="thumbs" data-loop="true" data-width="100%" data-ratio="800/600" data-maxheight="700" data-fit="contain")
		+thumb
		+thumb
		+thumb
		+thumb
		+thumb
		+thumb

	.fotorama#concept(data-nav="thumbs" data-loop="true" data-fit="scaledown" data-data-width:"100%" data-ratio="800/600")
		+thumb
		+thumb
		+thumb
		+thumb
		+thumb
		+thumb

	.fotorama#design(data-nav="thumbs" data-loop="true" data-fit="scaledown" data-data-width:"100%" data-ratio="800/600")
		+thumb
		+thumb
		+thumb
		+thumb
		+thumb
		+thumb
	button Back