//- .mobile-nav
//- 	ul
//- 		li: a(href="#home") Home
//- 		li: a(href="#about") About
//- 		li: a(href="#gallery") Gallery
//- 		li: a(href="#contact") Contact
header
	nav.site-nav
		ul
			li.active: a(href="#home") Home
			li: a(href="#about") About
			li: a(href="#gallery") Gallery
			li: a(href="#contact") Contact
	.mobile-wrapper
		.mobile-nav
		#circle
		#menu
			ul
				li: a(href="#home") Home
				li: a(href="#about") About
				li: a(href="#gallery") Gallery
				li: a(href="#contact") Contact
		#mobile-nav-toggle
			#x
			#y
			#z