header
	nav.site-nav
		.icons
			a(href="https://github.com/csicness" target="_blank")
				i.fa.fa-github.fa-2x
			a(href="https://www.twitter.com/csicness" target="_blank")
				i.fa.fa-twitter.fa-2x
			a(href="https://csicness.blogspot.com" target="_blank")
				i.fa.fa-newspaper-o.fa-2x
		ul
			li.active: a(href="#home") Home
			li: a(href="#about") About
			li: a(href="#gallery") Gallery
			li: a(href="#contact") Contact


	.mobile-wrapper
		.mobile-nav
		#circle
		#menu
			ul
				li: a(href="#home") Home
				li: a(href="#about") About
				li: a(href="#gallery") Gallery
				li: a(href="#contact") Contact
			.icons
				a(href="https://github.com/csicness" target="_blank")
					i.fa.fa-github.fa-2x
				a(href="https://www.twitter.com/csicness" target="_blank")
					i.fa.fa-twitter.fa-2x
				a(href="https://csicness.blogspot.com" target="_blank")
					i.fa.fa-newspaper-o.fa-2x
		#mobile-nav-toggle
			#x
			#y
			#z